[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
redis = "*"
rq = "*"
django-rq = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
mixer = "*"
coverage = "*"

[requires]
python_version = "3.8"
